
.Board-container {
    height: 100%;
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
}

.delete-me {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  width: 15px;
  height: 15px;
}
