.lists-container {
  width: 100%;
  padding-top: 50px;
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
}

.list-container {
  margin: 20px;
  width: 200px;
}

.input-box {
  width: 90%;
}

.lists-create-container {
  margin: 20px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CFD8DC;
  border-radius: 2px;
}

.list-title {
  border: 1px solid black;
  border-bottom: none;
}
