.Board-create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  margin: 30px;
  height: 180px;
}

.Board-create-container:last-child {
  justify-content: flex-start;
}

.Board-create-card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 160px;
  border-radius: 2px;
  background: rgb(0, 121, 191);
}

.Board-create-card:hover {
  width: 260px;
  height: 160px;
  background: #026aa7;
}

.Board-create-card-expanded {
  background: #CFD8DC;
  width: 260px;
  height: 100px;
  padding: 10px;
}

.Board-create-input {
  width: 80%;
  margin-top: 10px;
}

.Board-create-text-button {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  color: white;
}

.Board-create-text {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  color: white;
}

.Board-create-button {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 121, 191);
  border-radius: 100%;
}

.Board-create-button:hover {
  background: #026aa7;
}

.Board-create-title {
  font-size: 18px;
  font-weight: 300;
}
